/* Declaracion de variables css: se hace en el :root y siguiendo la nomenclatura --nombre: regla; */
/* :root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
} */

@import url('../css/normalize.css');
@import url('../css/fuentes.css');

/* Hace que se respeten las dimensiones de los contenedores sin sumar margenes */
html {
    box-sizing: border-box;
    // Llama una variable css
    // background-color: var(--dark-cyan);
}

*, *:before, *:after {
    box-sizing: inherit;
}
