@font-face {
    font-family: 'KumbhSans';
    src: url('../fonts/static/KumbhSans-Regular.ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'KumbhSans';
    src: url('../fonts/static/KumbhSans-Bold.ttf');
    font-style: normal;
    font-weight: 700;
}